
.cryptoInfo{
    color:#fff;
    background-color: #31363F;
    display: flex;
    align-items: center;
    gap:45px;
    padding:25px;
    border-bottom: 2px solid black;
  }
  
  .cryptoInfoHovered{
    background-color: #3b414d;
  }
  
  .mainCryptoInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 12%;
    text-align: center;
  }
  
  .additionalCryptoInfo{
    display: flex;
    gap:30px;
  }
  
  .cryptoSymbol{
    color: #F97300;
  }
  
  .price{
    color:#18c424;
  }
  
  .marketCap{
    color:#EBD671;
  }
  
  .volume{
    color:#F56D91;
  }
  
  .positiveChangePercent{
    color:#18c424;
  }
  
  .negativeChangePercent{
    color:#DA1212;
  }
  
  
  .searchDiv{
    color:white;
    display: flex;
    padding:20px;
    gap:5px;
    align-items: center;
    justify-content: center;
  }

  .searchBar{
    font-size: 17px;
    text-align: center;
    border:1px solid #000;
    border-radius: 3px;
  }

  .searchBtn{
    width:100px;
    height:25px;
    border:1px solid #000;
    border-radius: 3px;
    background-color: #15448f;
    color:#fff;
  }