@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Regular.woff2') format('woff2'),
         url('/assets/fonts/Roboto-Regular.woff') format('woff'),
         url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
font-family: 'Roboto';
src: url('/assets/fonts/Roboto-Bold.woff2') format('woff2'),
        url('/assets/fonts/Roboto-Bold.woff') format('woff'),
        url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
font-weight: 700;
font-style: bold;
}

*{
    font-family: 'Roboto';
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

body{
  background-color: #373A40;
}

header{
  color:#fff;
  background-color: #686D76;
  padding:15px;
  display:flex;
  flex-direction: row;
  align-items: center;
}

#mainNav>ul{
  display: flex;
  justify-content: center;
}

#mainNav li{
  list-style-type: none;
}

#mainNav a{
  text-decoration: none;
  color:#fff;
  padding-left: 25px;
}

.cryptoInfo{
  color:#fff;
  background-color: #31363F;
  display: flex;
  align-items: center;
  gap:45px;
  padding:25px;
  border-bottom: 2px solid black;
}

.cryptoInfoHovered{
  background-color: #3b414d;
}

.mainCryptoInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 12%;
  text-align: center;
}

.additionalCryptoInfo{
  display: flex;
  gap:30px;
}

.cryptoSymbol{
  color: #F97300;
}

.price{
  color:#18c424;
}

.marketCap{
  color:#EBD671;
}

.volume{
  color:#F56D91;
}

.positiveChangePercent{
  color:#18c424;
}

.negativeChangePercent{
  color:#DA1212;
}
